.box.wide
  .legend
    Create an Account
  - if Rails.application.open_signups?
    %p
      Not a user yet?
      = succeed "." do
        %a{:href => "/invitations/open"} Sign up here
  - else
    %p
      Signup is currently by invitation only to combat spam and increase
      accountability.  If you know
      %a{:href => "/u/"} a current user
      of the site,
      ask them for an invitation, or
      - if Rails.application.allow_invitation_requests?
        %a{:href => "/invitations/request"}> request one publicly
        \.
      - else
        request one in
        = succeed "." do
          %a{:href => "/chat"} chat
