%table.data.zebra.tall{:cellspacing => "0", :width => "100%"}
  %tr
    %th Mod → User/When
    %th Note
  - mod_notes.each do |note|
    %tr.nobottom
      %td
        = note.moderator.username
        →
        \#{link_to note.user.username, user_path(note.user)}
        %br/
        = raw note.created_at.strftime("%Y-%m-%d&nbsp;%H:%M&nbsp;%z")
      %td= raw note.markeddown_note
