#story_box.box
  .legend
    Suggest Story Changes
  = form_for @story, :url => story_suggest_path(@story.short_id), |
    :method => :post, :html => { :id => "edit_story" } do |f|     |
    = render :partial => "stories/form", :locals => { :story => @story, |
      :f => f, :suggesting => true }                                    |
    %p
    .box
      .boxline.actions
        = submit_tag "Suggest Changes"
         or
        %a{:href => "#{story_path(@story.short_id)}"} cancel
